---
title: 5. Defered JS
description: Miserable and slow website.
tags: ["test"]
layout: layouts/performance.njk
cssUrl: worst-case.css
jsUrl1: wc-basic.mjs
jsUrl2: wc-vendor.mjs
isJsModule: true
isReponsiveImages: true
---