---
title: Preloaded fonts - No css import
description: Miserable and slow website.
tags: ["test"]
layout: layouts/performance.njk
cssUrl: worst-case-no-import.css
jsUrl1: wc-basic.mjs
jsUrl2: wc-vendor.mjs
preloadedFonts: true
isJsModule: true
isReponsiveImages: true
---