---
title: Split up JS
description: Miserable and slow website.
tags: ["test"]
layout: layouts/performance.njk
cssUrl: optimized.css
jsUrl1: optimized-basic.mjs
jsUrl2: optimized-vendor.mjs
preloadedFonts: true
isJsModule: true
isReponsiveImages: true
splitCss: true
---