---
title: 1. Worst Case Website
description: Miserable and slow website.
tags: ["test"]
layout: layouts/performance.njk
cssUrl: worst-case.css
jsUrl1: wc-basic.js
jsUrl2: wc-vendor.js
isWorstCaseHead: true
blockLazy: true
---