<html lang="en">
  <head>

    <title>{{ title or metadata.title }}</title>
    <meta name="description" content="{{ description or metadata.description }}">
    <link rel="stylesheet" href="/css/{{ cssUrl or '/css/index.css' }}">
    {% if isWorstCase %}
        <script>
          var script = document.createElement('script');
          script.src = "https://slowfil.es/file?type=js&delay=1000&async-snippet-in-head";
          document.head.appendChild(script);
        </script>
    {% endif %}
    <script src="/css/{{ jsUrl1 }}" {% if not isWorstCase %} type="module" {% endif %}></script>
    <script src="/css/{{ jsUrl2 }}" {% if not isWorstCase %} type="module" {% endif %}></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <main{% if templateClass %} class="{{ templateClass }}"{% endif %}>
        {{ content | safe }}
    </main>
    <!-- Current page: {{ page.url | url }} -->
  </body>
</html>